### <b> Constructing Dataframe for Biometric Data - 2nd Iteration </b>

#### <b> [PLANNING] </b>

The goal of this <b> 2nd iteration </b> is to construct a dataset with 45 entries, corresponding to the 45 lettuce plants in the study. <p></p>

For each each entry/plant the <b> input </b> and <b> output/target </b> variables will be: <p></p>

<b> [INPUT VARS] </b>

* <b> Growing Degree Days </b>: Measure of heat accumulation used to predict plant development ($$)
* <b> Average Humidity (Avg. Humidity) </b>: The average humidity the plant was exposed to inside the greenhouse as captured by the sensors during the period of the experiment, expressed in percentage (%).
* <b> Accumulated Radiation (Acc. R) </b>: The total amount of PAR (Photosynthetically active radiation) the plant was exposed to during the period of the experiment, expressed in micromoles per second ($\mu$/m^2/s)
* <b> Accumulated Irrigation (Acc. I) </b>: The total amount of the aquous solution the plant was irrigated with during the period of the experiment, expressed in miliLiters (mL)
* <b> Accumulated Nitrates (Acc. N) </b>: The total amount of nitrates the plant was fed during the period of the experiment (calculated as a fraction of the aquous solution), expressed in milimoles (milimoles)


<b> [OUTPUT/TARGET VARS *(1)] </b>


* <b> Diameter </b>: The diameter of a chosen leaf of the plant at the time of harvest, expressed in centimeters (cm)
* <b> Perpendicular </b>: The length of perpendicular line to the chosen diameter of a chosen leaf at the time of harvest, expressed in centimeters (cm)
* <b> Weight </b>: The weight of the plant at the time of harvest, expressed in kilograms (Kg)
* <b> Height </b>: The height of the plant at the time of harvest, expressed in centimeters (cm)
* <b> Thickness </b>: Leaf thickness at the time of harvest, expressed in centimeters (cm)
* <b> Number of leaves (N leaves) </b>: The number of leaves the plant presents at the time of harvest

*(1): Each target variable will be predicted at a time

* T_base = 6ºC (GDD)
* Treshold de radiação PAR planta?
* Peso gerado através do consumo de água (output var -> future work/interessante para perceber eficiência da planta)
* sol A: 6 mil_moles azoto/L
* sol B: 13 mil_moles azoto/L
* sol C: 17 mil_moles azoto/L
* avg diameter + perpendicular para var output
* leaf thickness 
* análise nutricionais (valor finais de azoto por grupo)
* escala bbch
* leaf only fresh weight (valores excel em gramas)

In [263]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

#### <b> Load previous iteration of final dataset (withoud encoding) </b>

In [264]:
biometry = pd.read_csv("../../data/final_biometric_data.csv")

In [265]:
biometry.rename(columns={"Unnamed: 0":"Date"}, inplace=True)

In [266]:
biometry.size

7560

#### <b> Biometry at Harvest </b>

* Create auxiliary dataframe for biometry at the time of harvest <b> (harvest date: 2024-10-03) </b>

In [267]:
harvest_biometry = pd.DataFrame(biometry.loc[biometry["Date"] == "2024-10-03"]).reset_index()

In [268]:
harvest_biometry.columns

Index(['index', 'Date', 'Number', 'Line', 'Sample', 'CODE', 'No leaves',
       'Diameter', 'Perpendicular', 'Height', 'Max. Temp.', 'Min. Temp.',
       'Mean. Temp.', 'Max. Hum.', 'Min. Hum.', 'Mean. Hum.',
       'Combined Temperature Average', 'Combined Temperature Std Dev',
       'Combined Humidity Average', 'Combined Humidity Std Dev', 'BBCH',
       'Average Leaf Thickness'],
      dtype='object')

In [269]:
harvest_biometry

,index,Date,Number,Line,Sample,CODE,No leaves,Diameter,Perpendicular,Height,...,Mean. Temp.,Max. Hum.,Min. Hum.,Mean. Hum.,Combined Temperature Average,Combined Temperature Std Dev,Combined Humidity Average,Combined Humidity Std Dev,BBCH,Average Leaf Thickness
0,315,2024-10-03,1,1,W,RWGRB5,16,28.5,26.4,11.55,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.2300
1,316,2024-10-03,2,1,W,RWGRA3,14,23.5,24.2,11.15,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.2975
2,317,2024-10-03,3,1,W,RWGRC1,16,23.6,21.7,8.55,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.3520
3,318,2024-10-03,4,1,W,RWGRA2,15,24.8,23.6,11.55,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,17,0.2900
4,319,2024-10-03,5,1,W,RWGRB3,12,23.5,20.4,9.05,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.2950
5,320,2024-10-03,6,1,W,RWGRA4,10,24.5,18.4,8.85,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,15,0.3200
6,321,2024-10-03,7,1,W,RWGRC3,16,23.6,23.8,8.55,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,18,0.3350
7,322,2024-10-03,8,1,W,RWGRA5,15,24.8,26.2,10.25,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.2700
8,323,2024-10-03,9,2,W,RWGRC2,12,28.6,27.4,13.75,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.3100
9,324,2024-10-03,10,2,W,RWGRB4,15,33.1,29.6,13.25,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.3350
10,325,2024-10-03,11,2,W,RWGRC5,16,27.8,25.6,15.15,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.3350
11,326,2024-10-03,12,2,W,RWGRB1,14,30.4,24.8,11.85,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.2800
12,327,2024-10-03,13,2,W,RWGRC4,11,27.6,26.8,7.15,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.2975
13,328,2024-10-03,14,2,W,RWGRB2,10,22.4,21.5,7.05,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,13,0.2675
14,329,2024-10-03,15,2,W,RWGRA1,15,26.7,27.5,8.35,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,16,0.2875
15,330,2024-10-03,16,3,N,RNGRA3,16,31.4,30.6,11.45,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,18,0.2640
16,331,2024-10-03,17,3,N,RNGRB5,15,31.7,33.1,13.95,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.2425
17,332,2024-10-03,18,3,N,RNGRC4,16,27.6,26.2,12.15,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.2900
18,333,2024-10-03,19,3,N,RNGRA1,15,29.1,20.6,11.25,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.2650
19,334,2024-10-03,20,3,N,RNGRC5,14,31.2,29.3,11.55,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,16,0.2675
20,335,2024-10-03,21,3,N,RNGRB2,15,30.5,29.8,12.35,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,17,0.2780
21,336,2024-10-03,22,3,N,RNGRA2,13,30.1,26.6,12.05,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,16,0.2875
22,337,2024-10-03,23,4,N,RNROB2,11,24.7,21.6,11.05,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,17,0.3500
23,338,2024-10-03,24,4,N,RNROC3,7,21.4,15.1,9.85,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.3450
24,339,2024-10-03,25,4,N,RNROA5,8,24.2,19.8,9.55,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.3675
25,340,2024-10-03,26,4,N,RNROC5,7,23.4,20.6,9.35,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,18,0.3475
26,341,2024-10-03,27,4,N,RNROB3,10,26.4,17.5,9.25,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.2800
27,342,2024-10-03,28,4,N,RNROA1,8,16.8,14.5,7.35,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.2900
28,343,2024-10-03,29,4,N,RNROC1,7,27.1,18.8,7.15,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.4350
29,344,2024-10-03,30,5,N,RNGRC1,15,34.5,29.6,11.15,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,16,0.3000
30,345,2024-10-03,31,5,N,RNGRB3,11,32.4,31.7,15.35,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,18,0.2775
31,346,2024-10-03,32,5,N,RNGRA5,8,29.1,19.2,11.85,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.2800
32,347,2024-10-03,33,5,N,RNGRB1,10,26.8,29.2,12.15,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.2750
33,348,2024-10-03,34,5,N,RNGRC3,13,30.1,24.5,11.35,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.3050
34,349,2024-10-03,35,5,N,RNGRB4,12,29.2,22.5,11.35,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.2675
35,350,2024-10-03,36,5,N,RNGRA4,13,25.6,33.4,12.95,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.2550
36,351,2024-10-03,37,5,N,RNGRC2,12,30.2,26.6,9.15,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.2925
37,352,2024-10-03,38,6,N,RNROB1,7,16.1,22.6,10.35,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,17,0.3950
38,353,2024-10-03,39,6,N,RNROA4,10,21.7,19.2,10.35,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,18,0.3525
39,354,2024-10-03,40,6,N,RNROC2,9,22.5,19.8,9.05,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.3575
40,355,2024-10-03,41,6,N,RNROA3,11,26.8,24.5,10.15,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.3250
41,356,2024-10-03,42,6,N,RNROB5,7,30.1,22.6,11.85,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.3200
42,357,2024-10-03,43,6,N,RNROA2,11,22.8,20.5,10.35,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.3650
43,358,2024-10-03,44,6,N,RNROC4,10,30.5,26.2,11.55,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.3500
44,359,2024-10-03,45,6,N,RNROB4,11,20.6,23.1,9.95,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.79384,72.251447,7.783231,19,0.3825

In [270]:
# Remove unnecessary columns
harvest_biometry.drop(columns=['index','Max. Temp.', 'Min. Temp.', 'Mean. Temp.',
       'Max. Hum.', 'Min. Hum.', 'Mean. Hum.', 'Combined Temperature Average',
       'Combined Temperature Std Dev', 'Combined Humidity Average',
       'Combined Humidity Std Dev',], inplace=True)

In [271]:
harvest_biometry.size

495

In [272]:
harvest_biometry

,Date,Number,Line,Sample,CODE,No leaves,Diameter,Perpendicular,Height,BBCH,Average Leaf Thickness
0,2024-10-03,1,1,W,RWGRB5,16,28.5,26.4,11.55,19,0.2300
1,2024-10-03,2,1,W,RWGRA3,14,23.5,24.2,11.15,19,0.2975
2,2024-10-03,3,1,W,RWGRC1,16,23.6,21.7,8.55,19,0.3520
3,2024-10-03,4,1,W,RWGRA2,15,24.8,23.6,11.55,17,0.2900
4,2024-10-03,5,1,W,RWGRB3,12,23.5,20.4,9.05,19,0.2950
5,2024-10-03,6,1,W,RWGRA4,10,24.5,18.4,8.85,15,0.3200
6,2024-10-03,7,1,W,RWGRC3,16,23.6,23.8,8.55,18,0.3350
7,2024-10-03,8,1,W,RWGRA5,15,24.8,26.2,10.25,19,0.2700
8,2024-10-03,9,2,W,RWGRC2,12,28.6,27.4,13.75,19,0.3100
9,2024-10-03,10,2,W,RWGRB4,15,33.1,29.6,13.25,19,0.3350
10,2024-10-03,11,2,W,RWGRC5,16,27.8,25.6,15.15,19,0.3350
11,2024-10-03,12,2,W,RWGRB1,14,30.4,24.8,11.85,19,0.2800
12,2024-10-03,13,2,W,RWGRC4,11,27.6,26.8,7.15,19,0.2975
13,2024-10-03,14,2,W,RWGRB2,10,22.4,21.5,7.05,13,0.2675
14,2024-10-03,15,2,W,RWGRA1,15,26.7,27.5,8.35,16,0.2875
15,2024-10-03,16,3,N,RNGRA3,16,31.4,30.6,11.45,18,0.2640
16,2024-10-03,17,3,N,RNGRB5,15,31.7,33.1,13.95,19,0.2425
17,2024-10-03,18,3,N,RNGRC4,16,27.6,26.2,12.15,19,0.2900
18,2024-10-03,19,3,N,RNGRA1,15,29.1,20.6,11.25,19,0.2650
19,2024-10-03,20,3,N,RNGRC5,14,31.2,29.3,11.55,16,0.2675
20,2024-10-03,21,3,N,RNGRB2,15,30.5,29.8,12.35,17,0.2780
21,2024-10-03,22,3,N,RNGRA2,13,30.1,26.6,12.05,16,0.2875
22,2024-10-03,23,4,N,RNROB2,11,24.7,21.6,11.05,17,0.3500
23,2024-10-03,24,4,N,RNROC3,7,21.4,15.1,9.85,19,0.3450
24,2024-10-03,25,4,N,RNROA5,8,24.2,19.8,9.55,19,0.3675
25,2024-10-03,26,4,N,RNROC5,7,23.4,20.6,9.35,18,0.3475
26,2024-10-03,27,4,N,RNROB3,10,26.4,17.5,9.25,19,0.2800
27,2024-10-03,28,4,N,RNROA1,8,16.8,14.5,7.35,19,0.2900
28,2024-10-03,29,4,N,RNROC1,7,27.1,18.8,7.15,19,0.4350
29,2024-10-03,30,5,N,RNGRC1,15,34.5,29.6,11.15,16,0.3000
30,2024-10-03,31,5,N,RNGRB3,11,32.4,31.7,15.35,18,0.2775
31,2024-10-03,32,5,N,RNGRA5,8,29.1,19.2,11.85,19,0.2800
32,2024-10-03,33,5,N,RNGRB1,10,26.8,29.2,12.15,19,0.2750
33,2024-10-03,34,5,N,RNGRC3,13,30.1,24.5,11.35,19,0.3050
34,2024-10-03,35,5,N,RNGRB4,12,29.2,22.5,11.35,19,0.2675
35,2024-10-03,36,5,N,RNGRA4,13,25.6,33.4,12.95,19,0.2550
36,2024-10-03,37,5,N,RNGRC2,12,30.2,26.6,9.15,19,0.2925
37,2024-10-03,38,6,N,RNROB1,7,16.1,22.6,10.35,17,0.3950
38,2024-10-03,39,6,N,RNROA4,10,21.7,19.2,10.35,18,0.3525
39,2024-10-03,40,6,N,RNROC2,9,22.5,19.8,9.05,19,0.3575
40,2024-10-03,41,6,N,RNROA3,11,26.8,24.5,10.15,19,0.3250
41,2024-10-03,42,6,N,RNROB5,7,30.1,22.6,11.85,19,0.3200
42,2024-10-03,43,6,N,RNROA2,11,22.8,20.5,10.35,19,0.3650
43,2024-10-03,44,6,N,RNROC4,10,30.5,26.2,11.55,19,0.3500
44,2024-10-03,45,6,N,RNROB4,11,20.6,23.1,9.95,19,0.3825

#### <b> Accumulated Irrigation </b>

In [273]:
irrigation = pd.read_excel("../../raw_data/irrigation.xlsx")

In [274]:
irrigation

          Date  Sample  Quantity (mL)
0   2024-08-24  rngra1           50.0
1   2024-08-24  rngra2           50.0
2   2024-08-24  rngra3           50.0
3   2024-08-24  rngra4           50.0
4   2024-08-24  rngra5           50.0
..         ...     ...            ...
985 2024-10-01  rwgrc1            7.5
986 2024-10-01  rwgrc2           14.5
987 2024-10-01  rwgrc3            5.0
988 2024-10-01  rwgrc4           12.0
989 2024-10-01  rwgrc5            8.0

[990 rows x 3 columns]

In [275]:
# Convert Sample column values to Upper case to match biometry dataset
irrigation["Sample"] = irrigation["Sample"].str.upper()

In [276]:
# Group By Sample and add up daily irrigation
accumulated_irrigation = irrigation.groupby('Sample')['Quantity (mL)'].sum()

In [277]:
# Set to dataframe to simplify joining
accumulated_irrigation = pd.DataFrame(accumulated_irrigation)
accumulated_irrigation.reset_index(inplace=True)

In [278]:
# Rename 'Sample' column to 'CODE'
accumulated_irrigation.rename(columns={'Sample':'CODE'}, inplace=True)

In [279]:
accumulated_irrigation

      CODE  Quantity (mL)
0   RNGRA1        1172.25
1   RNGRA2        1127.25
2   RNGRA3        1141.00
3   RNGRA4         966.25
4   RNGRA5         989.50
5   RNGRB1         970.25
6   RNGRB2        1331.00
7   RNGRB3        1114.75
8   RNGRB4        1005.50
9   RNGRB5        1240.00
10  RNGRC1        1017.75
11  RNGRC2        1021.25
12  RNGRC3        1061.50
13  RNGRC4        1110.00
14  RNGRC5        1173.75
15  RNROA1         657.50
16  RNROA2         856.25
17  RNROA3         870.50
18  RNROA4         884.25
19  RNROA5         800.25
20  RNROB1         719.25
21  RNROB2         901.25
22  RNROB3         928.00
23  RNROB4        1066.25
24  RNROB5         787.25
25  RNROC1         967.25
26  RNROC2         875.00
27  RNROC3         820.25
28  RNROC4         976.75
29  RNROC5         846.25
30  RWGRA1        1083.00
31  RWGRA2        1128.00
32  RWGRA3         990.50
33  RWGRA4        1063.00
34  RWGRA5        1083.50
35  RWGRB1        1059.50
36  RWGRB2         800.50
37  RWGRB3        1062.50
38  RWGRB4        1105.50
39  RWGRB5        1131.50
40  RWGRC1        1084.00
41  RWGRC2         877.50
42  RWGRC3        1045.50
43  RWGRC4        1058.00
44  RWGRC5         968.00

<b> Accumulated Irrigation column to add to dataset </b>

In [280]:
accumulated_irrigation

      CODE  Quantity (mL)
0   RNGRA1        1172.25
1   RNGRA2        1127.25
2   RNGRA3        1141.00
3   RNGRA4         966.25
4   RNGRA5         989.50
5   RNGRB1         970.25
6   RNGRB2        1331.00
7   RNGRB3        1114.75
8   RNGRB4        1005.50
9   RNGRB5        1240.00
10  RNGRC1        1017.75
11  RNGRC2        1021.25
12  RNGRC3        1061.50
13  RNGRC4        1110.00
14  RNGRC5        1173.75
15  RNROA1         657.50
16  RNROA2         856.25
17  RNROA3         870.50
18  RNROA4         884.25
19  RNROA5         800.25
20  RNROB1         719.25
21  RNROB2         901.25
22  RNROB3         928.00
23  RNROB4        1066.25
24  RNROB5         787.25
25  RNROC1         967.25
26  RNROC2         875.00
27  RNROC3         820.25
28  RNROC4         976.75
29  RNROC5         846.25
30  RWGRA1        1083.00
31  RWGRA2        1128.00
32  RWGRA3         990.50
33  RWGRA4        1063.00
34  RWGRA5        1083.50
35  RWGRB1        1059.50
36  RWGRB2         800.50
37  RWGRB3        1062.50
38  RWGRB4        1105.50
39  RWGRB5        1131.50
40  RWGRC1        1084.00
41  RWGRC2         877.50
42  RWGRC3        1045.50
43  RWGRC4        1058.00
44  RWGRC5         968.00

#### <b> Accumulated Nitrates </b>

Each plant sample belongs to either group A, B or C, depending or not if letter is displayed in its <i> Sample </i> name.
E.g.:

* RNGRA5 belongs to group A
* RNGRB1 belongs to group B
* RNGRC1  belongs to group C

Depending on the group the plant belongs to, it was irrigated with a aqueous solution with different concentrations of Nitrate.

* Group A solution's concentatrion: 6 mili_moles nitrates/L
* Group B solution's concentatrion: 13 mili_moles nitrates/L
* Group C solution's concentatrion: 17 mili_moles nitrates/L

The total amount of nitrates fed to the plant up until the harvest will be calculated based on the Daily Irrigation of the plant with the aqueous solution (volume) and the Concentrantrion of solution depending on which group the plants belong to (A, B or C), which will be added:

* $ Nitrates (mmol) = C (mmol/L) * V (L) $ (daily quantity for each sample)

This quantity will then be added up for each day resulting in the total amount of nitrates for each plant

In [281]:
irrigation

          Date  Sample  Quantity (mL)
0   2024-08-24  RNGRA1           50.0
1   2024-08-24  RNGRA2           50.0
2   2024-08-24  RNGRA3           50.0
3   2024-08-24  RNGRA4           50.0
4   2024-08-24  RNGRA5           50.0
..         ...     ...            ...
985 2024-10-01  RWGRC1            7.5
986 2024-10-01  RWGRC2           14.5
987 2024-10-01  RWGRC3            5.0
988 2024-10-01  RWGRC4           12.0
989 2024-10-01  RWGRC5            8.0

[990 rows x 3 columns]

In [282]:
irrigation["Quantity (L)"] = irrigation["Quantity (mL)"] / 1000

In [283]:
irrigation

          Date  Sample  Quantity (mL)  Quantity (L)
0   2024-08-24  RNGRA1           50.0        0.0500
1   2024-08-24  RNGRA2           50.0        0.0500
2   2024-08-24  RNGRA3           50.0        0.0500
3   2024-08-24  RNGRA4           50.0        0.0500
4   2024-08-24  RNGRA5           50.0        0.0500
..         ...     ...            ...           ...
985 2024-10-01  RWGRC1            7.5        0.0075
986 2024-10-01  RWGRC2           14.5        0.0145
987 2024-10-01  RWGRC3            5.0        0.0050
988 2024-10-01  RWGRC4           12.0        0.0120
989 2024-10-01  RWGRC5            8.0        0.0080

[990 rows x 4 columns]

In [284]:
# Create new column Concentration and add the values defined above
irrigation.loc[irrigation["Sample"].str.contains('A'), 'Concentration'] = 6
irrigation.loc[irrigation["Sample"].str.contains('B'), 'Concentration'] = 13
irrigation.loc[irrigation["Sample"].str.contains('C'), 'Concentration'] = 17

In [285]:
irrigation

          Date  Sample  Quantity (mL)  Quantity (L)  Concentration
0   2024-08-24  RNGRA1           50.0        0.0500            6.0
1   2024-08-24  RNGRA2           50.0        0.0500            6.0
2   2024-08-24  RNGRA3           50.0        0.0500            6.0
3   2024-08-24  RNGRA4           50.0        0.0500            6.0
4   2024-08-24  RNGRA5           50.0        0.0500            6.0
..         ...     ...            ...           ...            ...
985 2024-10-01  RWGRC1            7.5        0.0075           17.0
986 2024-10-01  RWGRC2           14.5        0.0145           17.0
987 2024-10-01  RWGRC3            5.0        0.0050           17.0
988 2024-10-01  RWGRC4           12.0        0.0120           17.0
989 2024-10-01  RWGRC5            8.0        0.0080           17.0

[990 rows x 5 columns]

In [286]:
irrigation["Quantity (milimoles)"] = irrigation["Quantity (L)"] * irrigation["Concentration"]

In [287]:
irrigation

,Date,Sample,Quantity (mL),Quantity (L),Concentration,Quantity (milimoles)
0,2024-08-24,RNGRA1,50.0,0.0500,6.0,0.3000
1,2024-08-24,RNGRA2,50.0,0.0500,6.0,0.3000
2,2024-08-24,RNGRA3,50.0,0.0500,6.0,0.3000
3,2024-08-24,RNGRA4,50.0,0.0500,6.0,0.3000
4,2024-08-24,RNGRA5,50.0,0.0500,6.0,0.3000
...,...,...,...,...,...,...
985,2024-10-01,RWGRC1,7.5,0.0075,17.0,0.1275
986,2024-10-01,RWGRC2,14.5,0.0145,17.0,0.2465
987,2024-10-01,RWGRC3,5.0,0.0050,17.0,0.0850
988,2024-10-01,RWGRC4,12.0,0.0120,17.0,0.2040
989,2024-10-01,RWGRC5,8.0,0.0080,17.0,0.1360

In [288]:
nitrates = irrigation.groupby("Sample")["Quantity (milimoles)"].sum()

<b> Nitrates quantity column to add to dataset </b>

In [289]:
# nitrates = pd.DataFrame(nitrates).reset_index(inplace=True)

In [290]:
nitrates_df = pd.DataFrame(nitrates).reset_index()

In [291]:
nitrates_df.rename(columns={'Sample':'CODE'}, inplace=True)

In [292]:
nitrates_df

      CODE  Quantity (milimoles)
0   RNGRA1               7.03350
1   RNGRA2               6.76350
2   RNGRA3               6.84600
3   RNGRA4               5.79750
4   RNGRA5               5.93700
5   RNGRB1              12.61325
6   RNGRB2              17.30300
7   RNGRB3              14.49175
8   RNGRB4              13.07150
9   RNGRB5              16.12000
10  RNGRC1              17.30175
11  RNGRC2              17.36125
12  RNGRC3              18.04550
13  RNGRC4              18.87000
14  RNGRC5              19.95375
15  RNROA1               3.94500
16  RNROA2               5.13750
17  RNROA3               5.22300
18  RNROA4               5.30550
19  RNROA5               4.80150
20  RNROB1               9.35025
21  RNROB2              11.71625
22  RNROB3              12.06400
23  RNROB4              13.86125
24  RNROB5              10.23425
25  RNROC1              16.44325
26  RNROC2              14.87500
27  RNROC3              13.94425
28  RNROC4              16.60475
29  RNROC5              14.38625
30  RWGRA1               6.49800
31  RWGRA2               6.76800
32  RWGRA3               5.94300
33  RWGRA4               6.37800
34  RWGRA5               6.50100
35  RWGRB1              13.77350
36  RWGRB2              10.40650
37  RWGRB3              13.81250
38  RWGRB4              14.37150
39  RWGRB5              14.70950
40  RWGRC1              18.42800
41  RWGRC2              14.91750
42  RWGRC3              17.77350
43  RWGRC4              17.98600
44  RWGRC5              16.45600

#### <b> Growing Degree Days </b>

* $ \text{GDD} = \frac {T_{\text{max}} + T_{\text{min}}}{2} - T_{\text{base}} $

    * $T_{\text{baseLettuce}} =$ 4.5 C

In [293]:
tbase = 4.5

In [294]:
temperature = pd.read_excel("../../raw_data/inside_2.xlsx")[['date','temperature']]

In [295]:
temperature

          date  temperature
0   2024-08-22    18.200000
1   2024-08-22    17.200000
2   2024-08-22    17.300000
3   2024-08-22    17.700000
4   2024-08-22    17.400000
..         ...          ...
941 2024-10-03    20.703388
942 2024-10-03    21.296177
943 2024-10-03    21.758629
944 2024-10-03    21.531219
945 2024-10-03    21.528677

[946 rows x 2 columns]

In [296]:
max_temps = temperature.groupby('date')['temperature'].max()
min_temps = temperature.groupby('date')['temperature'].min()

In [297]:
max_temps

date
2024-08-22    29.300000
2024-08-23    36.800000
2024-08-24    26.100000
2024-08-25    33.300000
2024-08-26    33.200000
2024-08-27    27.600000
2024-08-28    29.300000
2024-08-29    25.100000
2024-08-30    29.100000
2024-08-31    24.900000
2024-09-01    28.500000
2024-09-02    26.600000
2024-09-03    32.000000
2024-09-04    33.800000
2024-09-05    27.600000
2024-09-06    22.300000
2024-09-07    28.500000
2024-09-08    30.700000
2024-09-09    29.600000
2024-09-10    31.400000
2024-09-11    32.900000
2024-09-12    31.000000
2024-09-13    35.800000
2024-09-14    36.100000
2024-09-15    40.800000
2024-09-16    35.051395
2024-09-17    32.717896
2024-09-18    28.968933
2024-09-19    28.699770
2024-09-20    29.394903
2024-09-21    28.622517
2024-09-22    28.669960
2024-09-23    26.990297
2024-09-24    21.077497
2024-09-25    19.900457
2024-09-26    24.905272
2024-09-27    25.816721
2024-09-28    30.307077
2024-09-29    29.544327
2024-09-30    31.453028
2024-10-01    21.569218
2024-10-02    20.444170
2024-10-03    21.758629
Name: temperature, dtype: float64

In [298]:
min_temps

date
2024-08-22    17.200000
2024-08-23    18.400000
2024-08-24    18.800000
2024-08-25    16.700000
2024-08-26    17.700000
2024-08-27    18.100000
2024-08-28    16.600000
2024-08-29    19.100000
2024-08-30    17.700000
2024-08-31    18.600000
2024-09-01    18.700000
2024-09-02    17.700000
2024-09-03    14.800000
2024-09-04    16.900000
2024-09-05    16.900000
2024-09-06    13.800000
2024-09-07    15.400000
2024-09-08    13.900000
2024-09-09    15.400000
2024-09-10    15.100000
2024-09-11    16.400000
2024-09-12    17.400000
2024-09-13    18.800000
2024-09-14    18.600000
2024-09-15    17.500000
2024-09-16    22.300000
2024-09-17    23.187569
2024-09-18    20.650547
2024-09-19    18.498018
2024-09-20    20.033173
2024-09-21    18.590183
2024-09-22    19.238600
2024-09-23    18.253342
2024-09-24    17.494766
2024-09-25    18.420944
2024-09-26    18.499657
2024-09-27    15.134524
2024-09-28    13.076940
2024-09-29    14.878392
2024-09-30    15.681866
2024-10-01    19.475641
2024-10-02    18.994644
2024-10-03    18.687616
Name: temperature, dtype: float64

In [299]:
gdd = (max_temps + min_temps)/2 - tbase

In [300]:
gdd

date
2024-08-22    18.750000
2024-08-23    23.100000
2024-08-24    17.950000
2024-08-25    20.500000
2024-08-26    20.950000
2024-08-27    18.350000
2024-08-28    18.450000
2024-08-29    17.600000
2024-08-30    18.900000
2024-08-31    17.250000
2024-09-01    19.100000
2024-09-02    17.650000
2024-09-03    18.900000
2024-09-04    20.850000
2024-09-05    17.750000
2024-09-06    13.550000
2024-09-07    17.450000
2024-09-08    17.800000
2024-09-09    18.000000
2024-09-10    18.750000
2024-09-11    20.150000
2024-09-12    19.700000
2024-09-13    22.800000
2024-09-14    22.850000
2024-09-15    24.650000
2024-09-16    24.175697
2024-09-17    23.452733
2024-09-18    20.309740
2024-09-19    19.098894
2024-09-20    20.214038
2024-09-21    19.106350
2024-09-22    19.454280
2024-09-23    18.121820
2024-09-24    14.786131
2024-09-25    14.660700
2024-09-26    17.202464
2024-09-27    15.975623
2024-09-28    17.192009
2024-09-29    17.711360
2024-09-30    19.067447
2024-10-01    16.022430
2024-10-02    15.219407
2024-10-03    15.723122
Name: temperature, dtype: float64

In [301]:
# Add to harvestbiometry dataset
total_gdd = gdd.sum()

#### <b> Average Humidity </b>

In [302]:
humidity = pd.read_excel("../../raw_data/inside_2.xlsx")[['date','humidity']]

In [303]:
humidity

          date   humidity
0   2024-08-22  66.100000
1   2024-08-22  70.700000
2   2024-08-22  74.000000
3   2024-08-22  76.600000
4   2024-08-22  77.800000
..         ...        ...
941 2024-10-03  86.559822
942 2024-10-03  85.557480
943 2024-10-03  84.059044
944 2024-10-03  82.733772
945 2024-10-03  81.984047

[946 rows x 2 columns]

In [304]:
average_humidity = humidity['humidity'].mean()

In [305]:
average_humidity

62.00226068287527

#### <b> Photosynthetically Active Radiation (PAR) </b>

In [306]:
par = pd.read_excel('../../raw_data/PAR.xlsx')

In [307]:
par

            Date           Timestamp  μmoles
0    ﻿2024-09-02 1900-01-01 19:18:39    81.9
1    ﻿2024-09-02 1900-01-01 20:18:39     5.1
2    ﻿2024-09-02 1900-01-01 21:18:39     0.0
3    ﻿2024-09-02 1900-01-01 22:18:39     0.0
4    ﻿2024-09-02 1900-01-01 23:18:39     0.0
..           ...                 ...     ...
416  ﻿2024-09-20 1900-01-01 05:56:51     0.3
417  ﻿2024-09-20 1900-01-01 06:56:51     0.3
418  ﻿2024-09-20 1900-01-01 07:56:51     1.1
419  ﻿2024-09-20 1900-01-01 08:56:51     3.2
420  ﻿2024-09-20 1900-01-01 09:56:51    12.9

[421 rows x 3 columns]

In [308]:
cumulative_par = par['μmoles'].sum()

In [309]:
cumulative_par

28775.300000000003

#### <b> Final Dataset - Combine the pieces </b>

In [310]:
biometry

,Date,Number,Line,Sample,CODE,No leaves,Diameter,Perpendicular,Height,Max. Temp.,...,Mean. Temp.,Max. Hum.,Min. Hum.,Mean. Hum.,Combined Temperature Average,Combined Temperature Std Dev,Combined Humidity Average,Combined Humidity Std Dev,BBCH,Average Leaf Thickness
0,2024-09-07,1,1,W,RWGRB5,10,14.5,10.4,9.50,28.500000,...,19.395833,79.50000,44.100000,64.704167,20.911128,1.844903,60.768349,9.135846,19,0.0000
1,2024-09-07,2,1,W,RWGRA3,10,10.9,9.7,9.80,28.500000,...,19.395833,79.50000,44.100000,64.704167,20.911128,1.844903,60.768349,9.135846,19,0.0000
2,2024-09-07,3,1,W,RWGRC1,13,15.8,13.9,9.40,28.500000,...,19.395833,79.50000,44.100000,64.704167,20.911128,1.844903,60.768349,9.135846,19,0.0000
3,2024-09-07,4,1,W,RWGRA2,10,12.1,7.2,9.50,28.500000,...,19.395833,79.50000,44.100000,64.704167,20.911128,1.844903,60.768349,9.135846,19,0.0000
4,2024-09-07,5,1,W,RWGRB3,11,14.2,10.5,12.50,28.500000,...,19.395833,79.50000,44.100000,64.704167,20.911128,1.844903,60.768349,9.135846,19,0.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
355,2024-10-03,41,6,N,RNROA3,11,26.8,24.5,10.15,21.758629,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.793840,72.251447,7.783231,19,0.3250
356,2024-10-03,42,6,N,RNROB5,7,30.1,22.6,11.85,21.758629,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.793840,72.251447,7.783231,19,0.3200
357,2024-10-03,43,6,N,RNROA2,11,22.8,20.5,10.35,21.758629,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.793840,72.251447,7.783231,19,0.3650
358,2024-10-03,44,6,N,RNROC4,10,30.5,26.2,11.55,21.758629,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.793840,72.251447,7.783231,19,0.3500
359,2024-10-03,45,6,N,RNROB4,11,20.6,23.1,9.95,21.758629,...,19.879193,87.61628,81.984047,86.349222,20.409005,0.793840,72.251447,7.783231,19,0.3825

<b> Add Accumulated Irrigation column </b>

In [311]:
harvest_biometry.size

495

In [312]:
lettuce_df = harvest_biometry.merge(accumulated_irrigation, on='CODE', how='left')

In [313]:
lettuce_df.rename(columns={'Quantity (mL)':'Accumulated Irrigation (mL)'}, inplace=True)

<b> Add Accumulated Nitrates column </b>

In [314]:
lettuce_df = lettuce_df.merge(nitrates_df, on='CODE', how='left')

In [315]:
lettuce_df.rename(columns={'Quantity (milimoles)':'Accumulated Nitrates (minimoles)'}, inplace=True)

<b> Add GDD </b>

In [316]:
lettuce_df['Growing Degree Days'] = total_gdd

<b> Add Accumulated Radiation </b>

In [317]:
lettuce_df['Accumulated PAR'] = cumulative_par

<b> Add Average Humidity </b>

In [318]:
lettuce_df['Average Humidity (%)'] = average_humidity

<b> Rename and Rearrange columns </b>

In [319]:
lettuce_df.rename(columns={'CODE':'Plant ID', 'No leaves':'Num. Leaves'}, inplace=True)

In [320]:
lettuce_df.drop(columns=['Number','Line','Sample', 'Date'], inplace=True)

In [321]:
lettuce_df

,Plant ID,Num. Leaves,Diameter,Perpendicular,Height,BBCH,Average Leaf Thickness,Accumulated Irrigation (mL),Accumulated Nitrates (minimoles),Growing Degree Days,Accumulated PAR,Average Humidity (%)
0,RWGRB5,16,28.5,26.4,11.55,19,0.2300,1131.50,14.70950,809.244245,28775.3,62.002261
1,RWGRA3,14,23.5,24.2,11.15,19,0.2975,990.50,5.94300,809.244245,28775.3,62.002261
2,RWGRC1,16,23.6,21.7,8.55,19,0.3520,1084.00,18.42800,809.244245,28775.3,62.002261
3,RWGRA2,15,24.8,23.6,11.55,17,0.2900,1128.00,6.76800,809.244245,28775.3,62.002261
4,RWGRB3,12,23.5,20.4,9.05,19,0.2950,1062.50,13.81250,809.244245,28775.3,62.002261
5,RWGRA4,10,24.5,18.4,8.85,15,0.3200,1063.00,6.37800,809.244245,28775.3,62.002261
6,RWGRC3,16,23.6,23.8,8.55,18,0.3350,1045.50,17.77350,809.244245,28775.3,62.002261
7,RWGRA5,15,24.8,26.2,10.25,19,0.2700,1083.50,6.50100,809.244245,28775.3,62.002261
8,RWGRC2,12,28.6,27.4,13.75,19,0.3100,877.50,14.91750,809.244245,28775.3,62.002261
9,RWGRB4,15,33.1,29.6,13.25,19,0.3350,1105.50,14.37150,809.244245,28775.3,62.002261
10,RWGRC5,16,27.8,25.6,15.15,19,0.3350,968.00,16.45600,809.244245,28775.3,62.002261
11,RWGRB1,14,30.4,24.8,11.85,19,0.2800,1059.50,13.77350,809.244245,28775.3,62.002261
12,RWGRC4,11,27.6,26.8,7.15,19,0.2975,1058.00,17.98600,809.244245,28775.3,62.002261
13,RWGRB2,10,22.4,21.5,7.05,13,0.2675,800.50,10.40650,809.244245,28775.3,62.002261
14,RWGRA1,15,26.7,27.5,8.35,16,0.2875,1083.00,6.49800,809.244245,28775.3,62.002261
15,RNGRA3,16,31.4,30.6,11.45,18,0.2640,1141.00,6.84600,809.244245,28775.3,62.002261
16,RNGRB5,15,31.7,33.1,13.95,19,0.2425,1240.00,16.12000,809.244245,28775.3,62.002261
17,RNGRC4,16,27.6,26.2,12.15,19,0.2900,1110.00,18.87000,809.244245,28775.3,62.002261
18,RNGRA1,15,29.1,20.6,11.25,19,0.2650,1172.25,7.03350,809.244245,28775.3,62.002261
19,RNGRC5,14,31.2,29.3,11.55,16,0.2675,1173.75,19.95375,809.244245,28775.3,62.002261
20,RNGRB2,15,30.5,29.8,12.35,17,0.2780,1331.00,17.30300,809.244245,28775.3,62.002261
21,RNGRA2,13,30.1,26.6,12.05,16,0.2875,1127.25,6.76350,809.244245,28775.3,62.002261
22,RNROB2,11,24.7,21.6,11.05,17,0.3500,901.25,11.71625,809.244245,28775.3,62.002261
23,RNROC3,7,21.4,15.1,9.85,19,0.3450,820.25,13.94425,809.244245,28775.3,62.002261
24,RNROA5,8,24.2,19.8,9.55,19,0.3675,800.25,4.80150,809.244245,28775.3,62.002261
25,RNROC5,7,23.4,20.6,9.35,18,0.3475,846.25,14.38625,809.244245,28775.3,62.002261
26,RNROB3,10,26.4,17.5,9.25,19,0.2800,928.00,12.06400,809.244245,28775.3,62.002261
27,RNROA1,8,16.8,14.5,7.35,19,0.2900,657.50,3.94500,809.244245,28775.3,62.002261
28,RNROC1,7,27.1,18.8,7.15,19,0.4350,967.25,16.44325,809.244245,28775.3,62.002261
29,RNGRC1,15,34.5,29.6,11.15,16,0.3000,1017.75,17.30175,809.244245,28775.3,62.002261
30,RNGRB3,11,32.4,31.7,15.35,18,0.2775,1114.75,14.49175,809.244245,28775.3,62.002261
31,RNGRA5,8,29.1,19.2,11.85,19,0.2800,989.50,5.93700,809.244245,28775.3,62.002261
32,RNGRB1,10,26.8,29.2,12.15,19,0.2750,970.25,12.61325,809.244245,28775.3,62.002261
33,RNGRC3,13,30.1,24.5,11.35,19,0.3050,1061.50,18.04550,809.244245,28775.3,62.002261
34,RNGRB4,12,29.2,22.5,11.35,19,0.2675,1005.50,13.07150,809.244245,28775.3,62.002261
35,RNGRA4,13,25.6,33.4,12.95,19,0.2550,966.25,5.79750,809.244245,28775.3,62.002261
36,RNGRC2,12,30.2,26.6,9.15,19,0.2925,1021.25,17.36125,809.244245,28775.3,62.002261
37,RNROB1,7,16.1,22.6,10.35,17,0.3950,719.25,9.35025,809.244245,28775.3,62.002261
38,RNROA4,10,21.7,19.2,10.35,18,0.3525,884.25,5.30550,809.244245,28775.3,62.002261
39,RNROC2,9,22.5,19.8,9.05,19,0.3575,875.00,14.87500,809.244245,28775.3,62.002261
40,RNROA3,11,26.8,24.5,10.15,19,0.3250,870.50,5.22300,809.244245,28775.3,62.002261
41,RNROB5,7,30.1,22.6,11.85,19,0.3200,787.25,10.23425,809.244245,28775.3,62.002261
42,RNROA2,11,22.8,20.5,10.35,19,0.3650,856.25,5.13750,809.244245,28775.3,62.002261
43,RNROC4,10,30.5,26.2,11.55,19,0.3500,976.75,16.60475,809.244245,28775.3,62.002261
44,RNROB4,11,20.6,23.1,9.95,19,0.3825,1066.25,13.86125,809.244245,28775.3,62.002261

In [322]:
rearranged_cols = ['Plant ID', 'Accumulated Irrigation (mL)', 'Accumulated Nitrates (minimoles)', 'Average Humidity (%)','Accumulated PAR','Growing Degree Days', 'BBCH','Num. Leaves','Average Leaf Thickness', 'Height','Diameter', 'Perpendicular']

In [325]:
lettuce_df = lettuce_df[rearranged_cols]

In [329]:
lettuce_df.to_csv('../../data/02_lettuce.csv')