In [1]:
import pandas as pd
import seaborn as sns
import numpy as np

### <b> Biometric Data - Modified </b>

In [14]:
biometric_df = pd.read_csv("data/biom_mod.csv", delimiter=';', index_col="Date")

In [15]:
biometric_df.head()

,Number,Line,Sample,CODE,No leaves,Diameter,Perpendicular,Height,Thickness 1,Thickness 2,Thickness 3,Thickness 4,Thickness 5
Date,,,,,,,,,,,,,
07/09/2024,1,1,W,RWGRB5,10,"14,5","10,4","9,5",NaN,NaN,NaN,NaN,NaN
07/09/2024,2,1,W,RWGRA3,10,"10,9","9,7","9,8",NaN,NaN,NaN,NaN,NaN
07/09/2024,3,1,W,RWGRC1,13,"15,8","13,9","9,4",NaN,NaN,NaN,NaN,NaN
07/09/2024,4,1,W,RWGRA2,10,"12,1","7,2","9,5",NaN,NaN,NaN,NaN,NaN
07/09/2024,5,1,W,RWGRB3,11,"14,2","10,5","12,5",NaN,NaN,NaN,NaN,NaN

In [18]:
biometric_df.tail()

,Number,Line,Sample,CODE,No leaves,Diameter,Perpendicular,Height,Thickness 1,Thickness 2,Thickness 3,Thickness 4,Thickness 5
Date,,,,,,,,,,,,,
03/10/2024,41,6,N,RNROA3,11,"26,8","24,5","10,15","0,4","0,32","0,27","0,31",NaN
03/10/2024,42,6,N,RNROB5,7,"30,1","22,6","11,85","0,32","0,26","0,33","0,37",NaN
03/10/2024,43,6,N,RNROA2,11,"22,8","20,5","10,35","0,4","0,35","0,39","0,32",NaN
03/10/2024,44,6,N,RNROC4,10,"30,5","26,2","11,55","0,38","0,32","0,33","0,37",NaN
03/10/2024,45,6,N,RNROB4,11,"20,6","23,1","9,95","0,43","0,38","0,37","0,35",NaN

In [16]:
biometric_df.describe()

           Number        Line   No leaves
count  360.000000  360.000000  360.000000
mean    23.000000    3.533333   11.258333
std     13.005249    1.748537    3.161826
min      1.000000    1.000000    3.000000
25%     12.000000    2.000000    9.000000
50%     23.000000    4.000000   11.000000
75%     34.000000    5.000000   14.000000
max     45.000000    6.000000   19.000000

In [17]:
biometric_df.columns

Index(['Number', 'Line', 'Sample', 'CODE', 'No leaves', 'Diameter',
       'Perpendicular', 'Height', 'Thickness 1', 'Thickness 2', 'Thickness 3',
       'Thickness 4', 'Thickness 5'],
      dtype='object')

In [19]:
biometric_df.isnull().sum()

Number             0
Line               0
Sample             0
CODE               0
No leaves          0
Diameter           0
Perpendicular      0
Height             0
Thickness 1      184
Thickness 2      184
Thickness 3      184
Thickness 4      315
Thickness 5      355
dtype: int64

In [20]:
biometric_df.nunique()

Number            45
Line               6
Sample             2
CODE              45
No leaves         17
Diameter         159
Perpendicular    163
Height           121
Thickness 1       31
Thickness 2       28
Thickness 3       28
Thickness 4       17
Thickness 5        5
dtype: int64